{
  "root": true,
  "env": {
    "browser": true
  },
  "extends": [
    "htmlacademy/es5"
  ],
  "globals": {
    "ymaps": true,
    "IMask": true
  },
  "rules": {
    "no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "mask"
      }
    ]
  }
}
