.about {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding-top: 150px;

  h2 {
    margin-bottom: 50px;

    color: $color1;

    font-size: 3rem;
    font-weight: 600;
    line-height: 3rem;
  }

  .about__facts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding-right: 28px;
    padding-left: 28px;

    counter-reset: item;
  }

  .about__fact {
    display: flex;
    align-items: center;
    flex: 0 1 22%;
    flex-direction: column;

    max-width: 263px;
    margin: 0 auto 30px;

    text-align: center;

    font-size: 2.2rem;
    line-height: 3.4rem;

    &::before {
      display: inline-block;

      margin-bottom: 15px;

      content: "0" counter(item);
      counter-increment: item;
      letter-spacing: -1.3px;

      color: $color2;

      font-size: 2.8rem;
      font-weight: bold;
      line-height: 3.8rem;
    }
  }

  @media (max-width: 1023px) {
    h2 {
      font-size: 2.4rem;
      line-height: 4.1rem;
    }
  }

  @media (max-width: 767px) {
    padding-top: 70px;

    .h2 {
      margin-bottom: 30px;
    }

    .about__fact {
      flex: 0 1 auto;

      margin-bottom: 30px;
      padding: 0 10px;

      font-size: 1.8rem;
    }
  }
}
