.bikes {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding-top: 172px;
  padding-bottom: 175px;

  background-color: $color-alice-blue;

  h2 {
    margin-bottom: 57px;

    text-align: center;

    color: $color-nero;

    font-size: 3rem;
    font-weight: 600;
    line-height: 3rem;
  }

  figure {
    position: relative;

    width: 30.37%;

    &:not(:last-child) {
      margin-right: 4.44%;
    }
  }

  img {
    position: relative;
    z-index: 10;

    max-width: 100%;
    margin-bottom: 18px;
  }

  figcaption {
    text-align: center;
    letter-spacing: -0.5px;

    color: $color-black;

    font-size: 2.2rem;
    font-weight: 600;
    line-height: 3.4rem;
  }
}

.bikes__wrapper {
  position: relative;
  left: 12px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 96.57%;
  margin: 0 auto;
}

.bikes__andreas picture {
  &::before {
    position: absolute;
    bottom: 0;

    width: 180px;
    height: 180px;

    content: "";
    transform: translate(-60px, -160%);

    border: 27px solid $color-turquoise;
    border-radius: 50%;
  }
}

.bikes__eberhard {
  top: 29px;
}

.bikes__eberhard picture {
  &::before {
    position: absolute;
    z-index: 11;
    top: -13px;
    left: -15px;

    width: 37px;
    height: 37px;

    content: "";

    background-color: $color-black;
  }

  &::after {
    position: absolute;
    z-index: 11;
    right: -22px;
    bottom: 32px;

    width: 47px;
    height: 47px;

    content: "";

    border: 8px solid $color-turquoise;
  }
}

.bikes__roger {
  top: -9px;
}

.bikes__roger picture {
  &::before {
    position: absolute;
    z-index: 11;
    top: -33px;
    right: -95px;

    width: 95px;
    height: 95px;

    content: "";
    transform: translateX(-60px);

    border: 17px solid $color-turquoise;
    border-radius: 50%;
  }
}

@media (max-width: $breakpoint-tablet) {
  .bikes {
    padding-top: 50px;
    padding-bottom: 0;

    h2 {
      margin-bottom: 27px;

      font-size: 2.4rem;
      line-height: 4.1rem;
    }

    figure {
      width: 42.16%;
      margin-bottom: 57px;

      text-align: center;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }

  .bikes__wrapper {
    left: 0;

    flex-wrap: wrap;
    justify-content: space-around;

    width: 91.53%;

    justify-items: center;
  }

  .bikes__andreas picture {
    &::before {
      width: 127px;
      height: 127px;

      transform: translate(-38px, -28px);

      border-width: 18px;
    }
  }

  .bikes__eberhard {
    top: 0;
  }

  .bikes__eberhard picture {
    &::before,
    &::after {
      display: none;
    }
  }

  .bikes__roger picture {
    &::before {
      top: -21px;
      right: -75px;

      width: 68px;
      height: 68px;

      border-width: 13px;
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .bikes {
    padding-top: 22px;
    padding-bottom: 21px;

    h2 {
      margin-bottom: 29px;

      font-size: 2.4rem;
      line-height: 4.1rem;
    }

    figure {
      width: 84%;
      margin-bottom: 39px;
    }

    img {
      margin-bottom: 16px;
    }
  }

  .bikes__wrapper {
    width: 100%;
  }

  .bikes__andreas picture {
    &::before {
      transform: translate(-24px, -28px);
    }
  }

  .bikes__roger {
    top: 6px;
  }

  .bikes__roger picture {
    &::before {
      top: -17px;
      right: -75px;
    }
  }
}
