.bikes {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
  padding-top: 150px;

  background-color: $color3;

  .bikes__wrapper {
    display: flex;
    justify-content: space-around;

    width: 100%;
    max-width: 1126px;
    padding-bottom: 147px;
  }

  h2 {
    margin-bottom: 50px;

    color: $color1;

    font-size: 3rem;
    font-weight: 600;
    line-height: 3rem;
  }

  figure {
    position: relative;

    max-width: 30%;
    margin-bottom: 50px;
  }

  figure.bikes__andreas picture {
    &::before {
      position: absolute;
      bottom: 0;

      width: 180px;
      height: 180px;

      content: "";
      transform: translate(-60px, -150%);

      border: 27px solid $color2;
      border-radius: 50%;
    }
  }

  figure.bikes__eberhard {
    top: 29px;
  }

  figure.bikes__eberhard picture {
    &::before {
      position: absolute;
      z-index: 11;
      top: -15px;
      left: -15px;

      width: 37px;
      height: 37px;

      content: "";

      background-color: $black;
    }

    &::after {
      position: absolute;
      z-index: 11;
      right: -20px;
      bottom: 20px;

      width: 47px;
      height: 47px;

      content: "";

      border: 8px solid $color2;
    }
  }

  figure.bikes__roger picture {
    &::before {
      position: absolute;
      z-index: 11;
      top: -35px;
      right: -95px;

      width: 95px;
      height: 95px;

      content: "";
      transform: translateX(-60px);

      border: 17px solid $color2;
      border-radius: 50%;
    }
  }

  figcaption {
    margin-top: 10px;

    text-align: center;

    color: $black;

    font-size: 2.2rem;
    line-height: 3.4rem;
  }

  img {
    position: relative;
    z-index: 10;

    max-width: 100%;
  }

  @media (max-width: 1023px) {
    figure {
      max-width: 25%;
    }

    figure.bikes__andreas picture {
      &::before {
        transform: translate(-60px, -80%);
      }
    }
  }

  @media (max-width: 767px) {
    padding-top: 50px;

    h2 {
      margin-bottom: 30px;

      font-size: 2.4rem;
      line-height: 4.1rem;
    }

    .bikes__wrapper {
      flex-wrap: wrap;
      justify-content: space-evenly;

      padding-bottom: 70px;
    }

    figure {
      max-width: none;
    }

    figure.bikes__andreas picture {
      &::before {
        width: 127px;
        height: 127px;

        transform: translate(-45px, -25px);

        border-width: 18px;
      }
    }

    figure.bikes__eberhard {
      top: 0;
    }

    figure.bikes__eberhard picture {
      &::before,
      &::after {
        display: none;
      }
    }

    figure.bikes__roger picture {
      &::before {
        top: -25px;
        right: -85px;

        width: 68px;
        height: 68px;

        border-width: 13px;
      }
    }
  }
}
