:root {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;

  color: inherit;
}

body {
  font-size: 1.6rem;
}

// Navbar
.navbar {
  position: fixed;
  z-index: 1;

  width: 100%;

  color: #ffffff;

  .navbar__burger {
    display: none;
  }

  .navbar__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 80%;
    max-width: 874px;
    height: 62px;
    margin: 0 auto;
    padding: 0 20px;

    list-style: none;

    opacity: 0.7;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  }

  .navbar__menu li {
    opacity: 0.7;
  }

  @media (max-width: 1023px) {
    .navbar__menu {
      width: 75%;
    }
  }

  @media (max-width: 767px) {
    .navbar__menu {
      position: absolute;

      display: none;
      flex-direction: column;
      justify-content: flex-start;

      width: 100%;
      height: 100vh;
      padding: 30px 0;
      padding-top: 100px;

      opacity: 1;
      background: #ffffff;
    }

    .navbar__menu li {
      position: relative;

      display: flex;
      align-items: center;

      width: 100%;
      margin-bottom: 30px;
      padding-left: 16px;

      opacity: 1;
      color: #48494d;
      background-color: #f6f6f6;

      &::before {
        position: absolute;
        top: 50%;
        right: 18px;

        display: block;

        width: 25px;
        height: 25px;

        content: "";
        transform: translateY(-50%);

        background: url("../img/ic-arrow.svg") no-repeat center center;
      }
    }

    .navbar__menu a {
      display: flex;
      align-items: center;

      width: 100%;
      height: 60px;
    }

    .navbar__burger {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;

      display: block;

      width: 50px;
      height: 50px;

      cursor: pointer;

      background-color: #0ad9c6;
    }

    .navbar__burger span {
      position: absolute;
      top: 50%;
      left: 50%;

      width: 22.5px;
      height: 1px;

      transform: translate(-50%, -50%);

      border: 1px solid black;

      &::before,
      &::after {
        position: absolute;
        left: -1px;

        display: block;

        width: 100%;

        content: "";

        border: 1px solid black;
      }

      &::before {
        top: -9px;
      }

      &::after {
        top: 7px;
      }
    }

    &.shown {
      .navbar__menu {
        display: flex;
      }

      .navbar__burger {
        background-color: #ffffff;
      }

      .navbar__burger span {
        border: none;

        &::before {
          top: 0;

          transform: rotate(45deg);

          border: 1px solid rgba(20, 21, 23, 0.2);
        }

        &::after {
          top: 0;

          transform: rotate(-45deg);

          border: 1px solid rgba(20, 21, 23, 0.2);
        }
      }
    }
  }
}

// Header
.header {
  display: flex;
  justify-content: center;

  .header__banner {
    width: 100%;
    height: 825px;

    background: #e5e5e5 url("../img/bike.jpg") no-repeat center;
    background-size: cover;
  }

  .header__text {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 80%;
    max-width: 874px;
    margin: 318px auto 0;
    padding-top: 41px;

    h1 {
      width: 393px;
      margin-bottom: 24px;

      color: #ffffff;

      font-size: 4.6rem;
      line-height: 6.4rem;
    }

    p {
      width: 393px;

      color: rgba(255, 255, 255, 0.8);

      font-size: 2rem;
      font-weight: 300;
      line-height: 3.2rem;
    }
  }

  .header__logo {
    position: absolute;
    top: 0;
    left: 0;
  }

  .header__form {
    position: absolute;
    top: 318px;

    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;

    width: 80%;
    max-width: 874px;
    margin: 0 auto;

    p {
      width: 100%;
      max-width: 327px;
      margin-bottom: 20px;

      text-align: center;

      color: #ffffff;
    }

    input {
      width: 100%;
      max-width: 327px;
      height: 48px;
      margin-bottom: 20px;
      padding-left: 29px;

      border: 1px solid #c9ccd4;
      border-radius: 4px;

      font-size: 1.5rem;
      line-height: 2.4rem;
    }

    button {
      width: 100%;
      max-width: 326px;
      height: 51px;

      border: none;
      border-radius: 6px;
      background-color: #0ad9c6;

      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  @media (max-width: 1023px) {
    .header__banner {
      width: 100%;
      height: 81vw;
    }

    .header__text {
      position: static;

      width: 95%;
      margin-top: 31vw;
      padding-top: 0;

      h1 {
        margin-top: -20px;

        font-size: 3.8rem;
      }

      p {
        max-width: 450px;
      }
    }

    .header__form {
      top: 31vw;

      width: 95%;
    }

    .header__logo {
      top: 25px;
      left: 21px;
    }
  }

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;

    .header__banner {
      height: auto;
      max-height: 390px;
    }

    .header__text {
      align-items: center;

      margin: 134px auto 70px;

      text-align: center;

      h1 {
        width: auto;

        font-size: 3rem;
        line-height: 4.2rem;
      }

      p {
        width: auto;

        font-size: 1.8rem;
      }
    }

    .header__form {
      position: static;

      width: 90%;
      max-width: 321px;
      padding-top: 70px;

      font-size: 1.8rem;

      p {
        color: #000000;
      }
    }
  }
}

// Footer
.footer {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 96px 0;

  h2 {
    margin-bottom: 30px;

    color: #1f1f1f;

    font-size: 3rem;
    font-weight: 600;
    line-height: 3rem;
  }

  p {
    width: 555px;
    margin-bottom: 41px;

    text-align: center;

    color: rgba(0, 0, 0, 0.7);

    font-size: 1.7rem;
    line-height: 3.1rem;
  }

  .footer__map-wrapper {
    width: 66%;
    min-width: 698px;
    height: 530px;
    margin: 0 auto 38px;
  }

  .footer__map {
    width: 100%;
    height: 530px;
  }

  .footer__contacts {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    max-width: 558px;

    color: rgba(0, 0, 0, 0.5);

    font-size: 1.6rem;
    line-height: 3.2rem;

    div {
      display: flex;
      align-items: center;

      margin: 0 auto;
    }

    div::before {
      margin-right: 15px;

      content: "";

      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  .footer__email::before {
    width: 26px;
    height: 20px;

    background-image: url("../img/ic-mail.svg");
  }

  .footer__phone::before {
    width: 21px;
    height: 22px;

    background-image: url("../img/ic-phone.svg");
  }

  @media (max-width: 767px) {
    padding: 52px 0;

    p {
      width: 90%;
    }

    .footer__map-wrapper {
      width: 90%;
      min-width: auto;
      max-height: 70vw;
      margin-bottom: 20px;
    }

    .footer__map {
      max-height: 70vw;
    }

    .footer__contacts {
      max-width: 450px;
    }
  }

  @media (max-width: 320px) {
    padding: 36px 0;

    .footer__map-wrapper {
      width: 100%;
      margin-bottom: 31px;
    }
  }
}
